@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.landing{
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url('/images/kids.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.tab{
  background: url('/images/kids.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}